# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [3]:
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [21]:
 # Possiveis dados de interesse.
sinasc_raw[['QTDPARTNOR', 'QTDPARTCES', 'IDADEPAI', 'IDADEMAE', 'QTDFILVIVO', 'QTDFILMORT','TPROBSON','KOTELCHUCK']]

,KOTELCHUCK,QTDPARTNOR,QTDPARTCES,IDADEPAI,IDADEMAE,CONSULTAS,QTDFILMORT,TPROBSON
0,5,0.0,0.0,26.0,19,4,0.0,1
1,5,0.0,1.0,24.0,29,4,0.0,5
2,5,1.0,1.0,32.0,37,4,0.0,7
3,4,0.0,0.0,24.0,30,3,0.0,2
4,5,0.0,1.0,27.0,30,4,0.0,5
...,...,...,...,...,...,...,...,...
27023,5,1.0,0.0,35.0,32,4,0.0,7
27024,5,0.0,0.0,NaN,19,4,0.0,1
27025,5,0.0,0.0,30.0,24,4,1.0,3
27026,5,0.0,1.0,24.0,21,4,0.0,10
27027,5,0.0,1.0,NaN,18,4,0.0,7

# Tarefa 2

### 1. Crie 2 faixas de Latitude do município (munResLat) sendo uma acima e outra abaixo de -10.5 e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [10]:
# Lista com a menor e maior latitude e ponto de innteresse.
lat = [sinasc_raw['munResLat'].min(),-10.5, sinasc_raw['munResLat'].max()]
lat

[-13.49976, -10.5, -8.76889]

In [17]:
#
faixa = pd.cut(sinasc_raw['munResLat'],lat)
sinasc_raw[['IDADEPAI','IDADEMAE']].groupby(faixa).agg(['sum','mean','min','max','median','std','var'])

C:\Users\Kevin\AppData\Local\Temp\ipykernel_27356\3790539937.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sinasc_raw[['IDADEPAI','IDADEMAE']].groupby(faixa).agg(['sum','mean','min','max','median','std','var'])

                 IDADEPAI                                                     \
                      sum       mean   min   max median       std        var
munResLat
(-13.5, -10.5]   198254.0  30.899938  15.0  86.0   30.0  7.705610  59.376424
(-10.5, -8.769]   38038.0  32.126689  16.0  73.0   31.0  8.034214  64.548602

                IDADEMAE
                     sum       mean min max median       std        var
munResLat
(-13.5, -10.5]    338060  26.179819  12  53   26.0  6.321275  39.958524
(-10.5, -8.769]   365094  26.014964  11  52   25.0  6.447663  41.572355

### 2. Crie 2 faixas da área dos municípios (munResArea) sendo uma acima e outra abaixo de 3000 e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [19]:
area = [sinasc_raw['munResArea'].min(),3000, sinasc_raw['munResArea'].max()]
area

[459.978, 3000, 34096.394]

In [20]:
faixa = pd.cut(sinasc_raw['munResArea'],area)
sinasc_raw[["QTDPARTNOR","QTDPARTCES"]].groupby(faixa).agg(['sum','mean','min','max','median','std','var'])

C:\Users\Kevin\AppData\Local\Temp\ipykernel_27356\2759088783.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sinasc_raw[["QTDPARTNOR","QTDPARTCES"]].groupby(faixa).agg(['sum','mean','min','max','median','std','var'])

                    QTDPARTNOR                                        \
                           sum      mean  min   max median       std
munResArea
(459.978, 3000.0]       1898.0  0.373255  0.0  10.0    0.0  0.856498
(3000.0, 34096.394]    12659.0  0.632982  0.0  41.0    0.0  1.278932

                              QTDPARTCES                              \
                          var        sum      mean  min   max median
munResArea
(459.978, 3000.0]    0.733588     2910.0  0.571934  0.0   5.0    0.0
(3000.0, 34096.394]  1.635668    10184.0  0.507070  0.0  12.0    0.0


                          std       var
munResArea
(459.978, 3000.0]    0.748719  0.560580
(3000.0, 34096.394]  0.744981  0.554997

### 3. Determine faixas na variável munResAlt e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [23]:
alt = [sinasc_raw['munResAlt'].min(),
       (sinasc_raw['munResAlt'].min() + sinasc_raw['munResAlt'].max())/2,
       sinasc_raw['munResAlt'].max()]
alt

[85.0, 340.0, 595.0]

In [24]:
faixa = pd.cut(sinasc_raw['munResAlt'],alt)
sinasc_raw[['TPROBSON','KOTELCHUCK']].groupby(faixa).agg(['sum','mean','min','max','median','std','var'])

C:\Users\Kevin\AppData\Local\Temp\ipykernel_27356\2164150034.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sinasc_raw[['TPROBSON','KOTELCHUCK']].groupby(faixa).agg(['sum','mean','min','max','median','std','var'])

               TPROBSON                                               \
                    sum      mean min max median       std       var
munResAlt
(85.0, 340.0]    107505  4.346798   1  11    4.0  2.958055  8.750092
(340.0, 595.0]     8005  4.088355   1  11    5.0  2.544616  6.475071

               KOTELCHUCK
                      sum      mean min max median       std       var
munResAlt
(85.0, 340.0]      123957  5.012009   1   9    5.0  2.090735  4.371171
(340.0, 595.0]       8605  4.394791   1   9    5.0  1.445630  2.089845

### 4. Plote no mesmo grafico ao longo do tempo a idade media das mulheres de cada regiao imediatas de rondonia

In [39]:
imediatas = {
    "Candeias do Jamari": "Porto Velho",
    "Guajará-Mirim": "Porto Velho",
    "Itapuã do Oeste": "Porto Velho",
    "Nova Mamoré": "Porto Velho",
    "Porto Velho": "Porto Velho",
    "Ariquemes": "Ariquemes",
    "Alto Paraíso": "Ariquemes",
    "Buritis": "Ariquemes",
    "Cacaulândia": "Ariquemes",
    "Campo Novo de Rondônia": "Ariquemes",
    "Cujubim": "Ariquemes",
    "Monte Negro": "Ariquemes",
    "Rio Crespo": "Ariquemes",
    "Jaru": "Jaru",
    "Governador Jorge Teixeira": "Jaru",
    "Machadinho D'Oeste": "Jaru",
    "Theobroma": "Jaru",
    "Vale do Anari": "Jaru",
    "Alvorada D'Oeste": "Ji-Paraná",
    "Costa Marques": "Ji-Paraná",
    "Ji-Paraná": "Ji-Paraná",
    "Mirante da Serra": "Ji-Paraná",
    "Nova União": "Ji-Paraná",
    "Ouro Preto do Oeste": "Ji-Paraná",
    "Presidente Médici": "Ji-Paraná",
    "São Francisco do Guaporé": "Ji-Paraná",
    "São Miguel do Guaporé": "Ji-Paraná",
    "Seringueiras": "Ji-Paraná",
    "Teixeirópolis": "Ji-Paraná",
    "Urupá": "Ji-Paraná",
    "Vale do Paraíso": "Ji-Paraná",
    "Cacoal": "Cacoal",
    "Alta Floresta D'Oeste": "Cacoal",
    "Alto Alegre dos Parecis": "Cacoal",
    "Castanheiras": "Cacoal",
    "Espigão D'Oeste": "Cacoal",
    "Ministro Andreazza": "Cacoal",
    "Nova Brasilândia D'Oeste": "Cacoal",
    "Novo Horizonte do Oeste": "Cacoal",
    "Parecis": "Cacoal",
    "Pimenta Bueno": "Cacoal",
    "Primavera de Rondônia": "Cacoal",
    "Rolim de Moura": "Cacoal",
    "Santa Luzia D'Oeste": "Cacoal",
    "São Felipe D'Oeste": "Cacoal",
    "Vilhena": "Vilhena",
    "Cabixi": "Vilhena",
    "Cerejeiras": "Vilhena",
    "Chupinguaia": "Vilhena",
    "Colorado do Oeste": "Vilhena",
    "Corumbiara": "Vilhena",
    "Pimenteiras do Oeste": "Vilhena"
}

sinasc_1 = sinasc_raw[['munResNome', 'IDADEMAE']].set_index('munResNome')
sinasc_1.groupby(imediatas).mean()

              IDADEMAE
munResNome
Ariquemes    25.459635
Cacoal       26.347817
Jaru         25.708853
Ji-Paraná    26.094720
Porto Velho  26.166303
Vilhena      26.417143

### 5. Utilize a tabela do link abaixo e crie faixas utilizando o mapping e gere agrupamentos utilizando essas faixas como chave

### 5.1 IDH
A - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_IDH-M

In [66]:
IDH = {
    'Porto Velho':'IDH-M alto',
    'Vilhena':'IDH-M alto',
    'Cacoal':'IDH-M alto',
    'Ji-Paraná':'IDH-M alto',
    'Pimenta Bueno':'IDH-M alto',
    'Ariquemes':'IDH-M alto',
    'Rolim de Moura':'IDH-M alto',
    'Cerejeiras':'IDH-M médio',
    'Jaru':'IDH-M médio', 
    'Colorado do Oeste':'IDH-M médio', 
    'Ouro Preto do Oeste':'IDH-M médio', 
    "Espigão d'Oeste ":'IDH-M médio', 
    "Santa Luzia d'Oeste":'IDH-M médio', 
    'Pimenteiras do Oeste':'IDH-M médio', 
    'Presidentne Médici':'IDH-M médio', 
    'Castanheiras':'IDH-M médio',
    'Guajará-Mirim':'IDH-M médio',
    'Chupinguaia':'IDH-M médio',
    'Cabixi':'IDH-M médio',
    'Candeias do Jamari':'IDH-M médio',
    "São Felipe d'Oeste":'IDH-M médio',
    'Cacaulândia':'IDH-M médio',
    'São Miguel do Guaporé':'IDH-M médio',
    'Mirante da Serra':'IDH-M médio', 
    "Alvorada d'Oeste":'IDH-M médio', 
    "Teixeirópolis":'IDH-M médio',
    "Nova Brasilândia d'Oeste":'IDH-M médio', 
    'Rio Crespo':'IDH-M médio', 
    'Primavera de Rondônia':'IDH-M médio',
    "Alta Floresta d'Oeste":'IDH-M médio', 
    'Ministro Andreazza':'IDH-M médio',
    'Novo Horizonte do Oeste':'IDH-M médio',
    'Vale do Paraíso':'IDH-M médio',
    'Parecis':'IDH-M médio',
    'Buritis':'IDH-M médio',
    'Itapuã do Oeste':'IDH-M médio',
    'Corumbiara':'IDH-M médio',
    'Cujubim':'IDH-M médio',
    'Costa Marques':'IDH-M médio',
    'São Francisco do Guaporé':'IDH-M médio',
    'Urupá':'IDH-M médio',
    'Monte Negro':'IDH-M médio',
    'Seringueiras':'IDH-M baixo', 
    'Governandor Jorge Teixeira':'IDH-M baixo', 
    "Machadinho d'Oeste":'IDH-M baixo', 
    'Campo Novo de Rondônia':'IDH-M baixo',
    'Alto Alegre dos Parecis':'IDH-M baixo', 
    'Theobroma':'IDH-M baixo',
    'Nova União':'IDH-M baixo', 
    'Nova Mamoré':'IDH-M baixo', 
    'Vale do Anari:':'IDH-M baixo'
}

sinasc_2 = sinasc_raw[['munResNome', 'KOTELCHUCK', 'TPROBSON']].set_index('munResNome')
sinasc_2.groupby(IDH).agg(['mean','std','count'])

            KOTELCHUCK                   TPROBSON
                  mean       std  count      mean       std  count
munResNome
IDH-M alto    5.034530  2.208836  16855  4.364996  3.004314  16855
IDH-M baixo   5.277431  2.068626   1121  4.173952  2.836793   1121
IDH-M médio   4.933542  1.875571   6380  4.233699  2.806744   6380

### 5.2 IFDM
B - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_IFDM

In [67]:
IFDM = {
    'Porto Velho':'Desenvolvimento Moderado',
    'Vilhena':'Desenvolvimento Moderado',
    'Ji-Paraná':'Desenvolvimento Moderado',
    'Cacoal': 'Desenvolvimento Moderado',
    'Pimenta Bueno':'Desenvolvimento Moderado',
    'Ariquemes':'Desenvolvimento Moderado',
    'Rolim de Moura':'Desenvolvimento Moderado',
    'Cerejeiras':'Desenvolvimento Moderado',
    'Jaru':'Desenvolvimento Moderado', 
    'Colorado do Oeste':'Desenvolvimento Moderado', 
    'Ouro Preto do Oeste':'Desenvolvimento Moderado', 
    "Espigão d'Oeste ":'Desenvolvimento Regular', 
    "Santa Luzia d'Oeste":'Desenvolvimento Moderado', 
    'Pimenteiras do Oeste':'Desenvolvimento Moderado', 
    'Presidentne Médici':'Desenvolvimento Moderado', 
    'Castanheiras':'Desenvolvimento Regular',
    'Guajará-Mirim':'Desenvolvimento Regular',
    'Chupinguaia':'Desenvolvimento Moderado',
    'Cabixi':'Desenvolvimento Regular',
    'Candeias do Jamari':'Desenvolvimento Moderado',
    "São Felipe d'Oeste":'Desenvolvimento Moderado',
    'Cacaulândia':'Desenvolvimento Regular',
    'São Miguel do Guaporé':'Desenvolvimento Moderado',
    'Mirante da Serra':'Desenvolvimento Regular', 
    "Alvorada d'Oeste":'Desenvolvimento Regular', 
    "Teixeirópolis":'Desenvolvimento Moderado',
    "Nova Brasilândia d'Oeste":'Desenvolvimento Regular', 
    'Rio Crespo':'Desenvolvimento Moderado', 
    'Primavera de Rondônia':'Desenvolvimento Moderado',
    "Alta Floresta d'Oeste":'Desenvolvimento Moderado', 
    'Ministro Andreazza':'Desenvolvimento Regular',
    'Novo Horizonte do Oeste':'Desenvolvimento Regular',
    'Vale do Paraíso':'Desenvolvimento Regular',
    'Parecis':'Desenvolvimento Regular',
    'Buritis':'Desenvolvimento Moderado',
    'Itapuã do Oeste':'Desenvolvimento Regular',
    'Corumbiara':'Desenvolvimento Regular',
    'Cujubim':'Desenvolvimento Regular',
    'Costa Marques':'Desenvolvimento Regular',
    'São Francisco do Guaporé':'Desenvolvimento Moderado',
    'Urupá':'Desenvolvimento Moderado',
    'Monte Negro':'Desenvolvimento Moderado',
    'Seringueiras':'Desenvolvimento Regular', 
    'Governandor Jorge Teixeira':'Desenvolvimento Regular', 
    "Machadinho d'Oeste":'Desenvolvimento Regular', 
    'Campo Novo de Rondônia':'Desenvolvimento Regular',
    'Alto Alegre dos Parecis':'Desenvolvimento Regular', 
    'Theobroma':'Desenvolvimento Regular',
    'Nova União':'Desenvolvimento Regular', 
    'Nova Mamoré':'Desenvolvimento Regular', 
    'Vale do Anari:':'Desenvolvimento Regular'
}
sinasc_2.groupby(IFDM).agg(['mean','std','count'])

                         KOTELCHUCK                   TPROBSON            \
                               mean       std  count      mean       std
munResNome
Desenvolvimento Moderado   4.960989  2.102391  21122  4.317394  2.946649
Desenvolvimento Regular    5.399814  2.203113   3234  4.350649  2.948279


                          count
munResNome
Desenvolvimento Moderado  21122
Desenvolvimento Regular    3234

### 5.3 PIB
C - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_PIB

In [65]:
PIB = {
    'Porto Velho':'PIB Acima de 1 Bilhão',
    'Vilhena':'PIB Acima de 1 Bilhão',
    'Ji-Paraná':'PIB Acima de 1 Bilhão',
    'Pimenta Bueno':'PIB Acima de 1 Bilhão',
    'Ariquemes':'PIB Acima de 1 Bilhão',
    'Rolim de Moura':'PIB Acima de 1 Bilhão',
    'Cacoal': 'PIB Acima de 1 Bilhão',
    'Cerejeiras':'PIB Acima de 500 Milhões',
    'Jaru':'PIB Acima de 1 Bilhão', 
    'Colorado do Oeste':'PIB Acima de 300 Milhões', 
    'Ouro Preto do Oeste':'PIB Acima de 500 Milhões', 
    "Espigão d'Oeste ":'PIB Acima de 500 Milhões', 
    "Santa Luzia d'Oeste":'PIB Acima de 100 Milhões', 
    'Pimenteiras do Oeste':'PIB Até 100 Milhões', 
    'Presidentne Médici':'PIB Acima de 300 Milhões', 
    'Castanheiras':'PIB Até 100 Milhões',
    'Guajará-Mirim':'PIB Acima de 500 Milhões',
    'Chupinguaia':'PIB Acima de 100 Milhões',
    'Cabixi':'PIB Acima de 100 Milhões',
    'Candeias do Jamari':'PIB Acima de 500 Milhões',
    "São Felipe d'Oeste":'PIB Até 100 Milhões',
    'Cacaulândia':'PIB Acima de 100 Milhões',
    'São Miguel do Guaporé':'PIB Acima de 500 Milhões',
    'Mirante da Serra':'PIB Acima de 100 Milhões', 
    "Alvorada d'Oeste":'PIB Acima de 200 Milhões', 
    "Teixeirópolis":'PIB Até 100 Milhões',
    "Nova Brasilândia d'Oeste":'PIB Acima de 300 Milhões', 
    'Rio Crespo':'PIB Até 100 Milhões', 
    'Primavera de Rondônia':'PIB Até 100 Milhões',
    "Alta Floresta d'Oeste":'PIB Acima de 300 Milhões',
    "Alto Paraíso":'PIB Acima de 300 Milhões',
    'Ministro Andreazza':'PIB Acima de 100 Milhões',
    'Novo Horizonte do Oeste':'PIB Acima de 100 Milhões',
    'Vale do Paraíso':'PIB Acima de 100 Milhões',
    'Parecis':'PIB Até 100 Milhões',
    'Buritis':'PIB Acima de 500 Milhões',
    'Itapuã do Oeste':'PIB Acima de 100 Milhões',
    'Corumbiara':'PIB Acima de 100 Milhões',
    'Cujubim':'PIB Acima de 300 Milhões',
    'Costa Marques':'PIB Acima de 100 Milhões',
    'São Francisco do Guaporé':'PIB Acima de 300 Milhões',
    'Urupá':'PIB Acima de 100 Milhões',
    'Monte Negro':'PIB Acima de 200 Milhões',
    'Seringueiras':'PIB Acima de 100 Milhões', 
    'Governandor Jorge Teixeira':'PIB Acima de 100 Milhões', 
    "Machadinho d'Oeste":'PIB Acima de 500 Milhões', 
    'Campo Novo de Rondônia':'PIB Acima de 200 Milhões',
    'Alto Alegre dos Parecis':'PIB Acima de 200 Milhões', 
    'Theobroma':'PIB Acima de 100 Milhões',
    'Nova União':'PIB Até 100 Milhões', 
    'Nova Mamoré':'PIB Acima de 500 Milhões', 
    'Vale do Anari:':'PIB Acima de 100 Milhões'
}
sinasc_2.groupby(PIB).agg(['mean','std','count'])

                         KOTELCHUCK                   TPROBSON            \
                               mean       std  count      mean       std
munResNome
PIB Acima de 1 Bilhão      5.018268  2.179020  17736  4.343031  2.987400
PIB Acima de 100 Milhões   4.678398  1.604023   1648  4.233010  2.775831
PIB Acima de 200 Milhões   4.658960  1.421454    519  3.957611  2.516765
PIB Acima de 300 Milhões   4.599156  1.386189    948  4.028481  2.558756
PIB Acima de 500 Milhões   5.392069  2.246874   3354  4.386404  2.954735
PIB Até 100 Milhões        4.702918  1.477425    377  4.254642  2.801763


                          count
munResNome
PIB Acima de 1 Bilhão     17736
PIB Acima de 100 Milhões   1648
PIB Acima de 200 Milhões    519
PIB Acima de 300 Milhões    948
PIB Acima de 500 Milhões   3354
PIB Até 100 Milhões         377

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados.

Exemplo:
- Ah, descobri que a idade mediana das mulheres que deram a luz no ano de 2019 dos municipios com o PIB mais alto é a maior dentre todas.

### Analise
Eu utilizei dois indices que acredito serem interessantes, sendo um deles o Indíce de Kotelchuck que tem valores inteiros de 1 a 5, onde os valores menores representa mulheres que não fizeram pré-natal ou tiveram um acompanhamento inadequado e os maiores mulheres que tiveram mais consultados do que o necessário.

Através dele percebemos que independente do PIB, IDH e IFDM temos que a média se mantém bem alta, mostrando que rondônia mulheres gestantes tem um alto indice de consultas de pré-natal. Porém observamos também um alto desvio padrão, que pode indicar uma desigualdade alta nos municipios do estado.